body{
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: white;
}

h1{color: red;}