body{
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: white;
}

/* HEADING/LOGO H1 */
h1{color: red;
/* text-align: center;*/
} 
.branding{
    /* position: absolute; */
    text-align: center;
    
    /* height: 20px; */
    /* left: 50%; */
    /* right: 46%; */
}


